@model IEnumerable<AstraBugTracker.Models.Ticket>
@using AstraBugTracker.Models.Enums;
@using AstraBugTracker.Services.Interfaces;
@inject IBTFileService _FileService;


@{
    ViewData["Title"] = "All Tickets";
}

<h1 class="text-center">All Tickets</h1>


<partial name="_TicketTablePartial" model="@Model" />

