@model IEnumerable<AstraBugTracker.Models.Ticket>
@using AstraBugTracker.Models.Enums;
@using AstraBugTracker.Services.Interfaces;
@inject IBTFileService _FileService;

@{
    ViewData["Title"] = "Open Tickets";
}

<h1 class="text-center">My Open Tickets</h1>


<partial name="_TicketTablePartial" model="@Model" />

