@model IEnumerable<AstraBugTracker.Models.Ticket>
@using AstraBugTracker.Services.Interfaces;
@inject IBTFileService _FileService;

@{
    ViewData["Title"] = "Unassigned Tickets";
}
<h1 class="text-center">Unassigned Tickets</h1>

<partial name="_TicketTablePartial" model="@Model" />



