@model AstraBugTracker.Models.Project

@{
    ViewData["Title"] = "Delete";
}


<div class="container position-absolute top-50 ">
    <div class=" text-center w-100 mx-auto">
        <h1 class="pb-5">Are you sure you want to change the archive status of this project?</h1>
        <div class="mt-4 ">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Change Status" class="btn btn-warning" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>

</div>

